<div class="parent">
    <div class="item">
        <div class="loginbox">
            <img src="assets/user login page.png" class="avtar">
        </div>
    </div>
    <div class="item">
        <div class="loginbox">

            <h1 style="color:DodgerBlue;">Login Here</h1>
            <form>
                <p style="color:DodgerBlue;">Username</p>
                <input type="text" name="" placeholder="Enter Username">
                <p style="color:DodgerBlue;">Password</p>
                <input type="Password" name="" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <strong >Lost your Password?</strong><br>
                <strong routerLink="../SignUp">Don't have an account?</strong>


            </form>
        </div>
    </div>
</div>